.miniheader {
    background-color: #9D0B0E;
    font-family: "ORF ON",Arial,Helvetica,Lucida Sans Unicode,Lucida Grande,sans-serif;
    font-feature-settings: "liga", "kern";
    color: #FFF8FA;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.miniheader ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1%;
    margin-right: 1%;
    margin: 0.5%;
}

.middle {
    background-color: #BA131A;
    /*height: fit-content;*/
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "ORF ON",Arial,Helvetica,Lucida Sans Unicode,Lucida Grande,sans-serif;
    font-feature-settings: "liga", "kern";
    color: #FFF8FA;
    font-size: 35px
}

.middle p {
    display: inline-block;
    position: relative;
    left: 50px;
}

.middle img {
    height: 60px;
    position: relative;
    left: 40px;
}

.miniheader2 {
    background-color: #7A0001;
    font-family: "ORF ON",Arial,Helvetica,Lucida Sans Unicode,Lucida Grande,sans-serif;
    font-feature-settings: "liga", "kern";
    color: #FFF8FA;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: min-content;
}

.miniheader2 ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1%;
    margin-right: 1%;
    margin: 0.5%;
}

.miniheader2 img {
    height: 2em;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(36deg) brightness(104%) contrast(101%);
    margin: auto;
    margin-right: 1%;
}